<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>HOME HOME HOME</title>
    <link rel="stylesheet" th:href="@{/css/logincss.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

    <script lang="javascript" type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <script lang="javascript" type="text/javascript" th:src="@{/js/signup.js}"></script>
    <script lang="javascript" type="text/javascript" th:src="@{/js/login.js}"></script>
    <script lang="javascript" type="text/javascript" th:src="@{/js/index.js}"></script>
    <script lang="javascript" type="text/javascript" th:src="@{/js/note.js}"></script>

    <script lang="javascript" type="text/javascript" th:src="@{/js/getCapture.js}"></script>
</head>


<body>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>


<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>LOGIN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
                    </div>
                </div>
            </div>
            <div class="cont_back_info">
                <div class="cont_img_back_grey"><img src="img/po.jpg" alt=""/></div>
            </div>
            <div class="cont_forms">
                <div class="cont_img_back_"><img src="po.jpg" alt=""/></div>
                <div class="cont_form_login"><a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>LOGIN</h2>
                    <input id="loginPhone" type="text" placeholder="手机号"/>
                    <input id="loginPassword" type="password" placeholder="密码"/>
                    <input id=loginNote type="password" placeholder="短信验证码"/>

                    <button id="noteButton" class="note_login">点击获取短信验证码</button>

                    <button id="loginButton" class="btn_login2">LOGIN</button>
                </div>
                <div class="cont_form_sign_up"><a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>SIGN UP</h2>
                    <input id="phone" type="text" placeholder="phone"/>
                    <input id="password" type="password" placeholder="password"/>

                    <input id="nickName" type="text" placeholder="nickName"/>
                    <input id="email" type="text" placeholder="email"/>

                    <input id="captcha" type="text" class="yzm" placeholder="click down pitcher to refresh"/>

                    <input id="questionId" type="hidden" class="hide-icon" placeholder="questionId"/>
                    <!--<input id="questionId" type="text" class="input_text"/>-->
                    <img th:src="${img}" id="imgCode" class="localimg"
                         style="cursor:pointer;border:0; display:inline;vertical-align:middle;"/>

                    <button id="signup" class="btn_sign_up">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

<script type="text/javascript">
    $(function () {
        $("#imgCode").click(getCapture)
    })

    $(function () {
        $("#signup").click(signup)
    })

    $(function () {
        $("#noteButton").click(note)
    })

    $(function () {
        $("#loginButton").click(login)
    })
</script>

